<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User Create</title>
</head>
<body>
<h1>User Registration</h1>
<!--    th:action="@{/}"-->
<form th:action="@{/person/create}" method="post" th:object="${person}">
    <label>Username:</label>
    <input type="text" th:field="*{name}" /><br/>
    <p th:if="${#fields.hasErrors('${person.name}')}" th:errors="*{name}"></p> <br>
                                                            <!-- ${person.name}   -->
    <button type="submit">Register</button>
</form>

<form th:action="@{/person/excel-import}" method="post" enctype="multipart/form-data">
    <label>Excel Data:</label>
    <input type="file" name="personFile" /><br/>
    <button type="submit">Import</button>
</form>
</body>
</html>