<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User Create</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<h1>User Registration</h1>
<!--    th:action="@{/}"-->
<!--<form th:action="@{/person/create}" method="post" th:object="${person}">-->
<!--    <label>Username:</label>-->
<!--    <input type="text" th:field="*{name}"/><br/>-->
<!--    <button type="submit">Register</button>-->
<!--</form>-->
<table class="table table-striped">
    <thead>
    <tr>
        <th> Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${persons.empty}">
        <td colspan="2"> No Person Available</td>
    </tr>
    <a class="btn btn-light" th:href="@{/person/list?page=1&size=2}">1</a>
    <a class="btn btn-light" th:href="@{/person/list?page=2&size=2}">2</a>
    <a class="btn btn-light" th:href="@{/person/list?page=3&size=2}">3</a>
    <tr th:each="person : ${persons}">
<!--        <td><span th:text="*{id}"> Title </span></td>-->
        <td><span th:text="${person.name}"> Author </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>